In [20]:
# 리터널 : 자연어 : 문자, 숫자 
# 숫자 : 정수 , 실수 , 10, 10.5 , '10'(x)
# 연산자 : + - * / % // **
# 문자 : 'abc' ,"abc", '''abc''' , """abc""" , '10',   a : 변수 : 문자가 될 수 없다
a  = 10
# 문자열에서  indexing
a = 'Life is too short, You need python'
#    0123456789012345678901234567890123
#              1         2         3
#                                 54321 -  
print(a[0])
print(a[-1])
# 문자열에서  slicing
print(a[0:0+5])
print(a[0:5])
print(a[:])
print(a[0:10:2]) # 한칸씩 건너 띄어서 가져오기
print(a[::-1]) # 거꾸로 출력하기
print(a[0:10:3]) # 두칸씩 건너 띄어서 가져오기
# 연산자 : + , *
# 문자함수
a.count('o')
a.find('t')
a.find('too') # 문자열인 경우 첫번째 문자의 iondex를 가져온다.
a.find('s',7)
a.find('k') # 없는 문자인 경우 : -1
a.index('t') 
a.index('s',7) 
a.index('too') 
a.rindex('s') 
# a.index('k')  #없는 문자인 경우 : 오류가 발생
':'.join(a) # 문자열 삽입 (*****)
a.upper() 
a.lower() 
a.strip() # 양쪽 공백을 제거 할때 사용
a.strip('ab') 
a.lstrip() # 오른쪽에 있는 공백문자를 제거
a.rstrip() # 왼쪽에 있는 공백문자만 제거
a.rstrip("ab") ### abcdefab  ==> abcdef
a.replace("Life", "Yore leg")
a = "010-1234-1234"
a.isdigit() # 행당 문자열이 모두 숫자인지 "12345678" : true/false
            # a = "010-1234-1234" : false
a = "01012341234" # 숫자 앞에 0이 있는 경우에는 문자로 인식할 수도 있으니 주의
a.isdigit() 
a = "abc def" # 공백문자는  알파벳이 아니다.
a.isalpha() 
a = "abcdef" 
a.isalpha()
a.islower() # 모두 소문자
a.isupper() # 모두 대문자  true/false

L
n
Life
Life
Life is too short, You need python
Lf st
nohtyp deen uoY ,trohs oot si efiL
Leso

False

In [33]:
# 문자열 출력하기.
print(a)
number = 10
day = "three"
a = "나의 나이는 %d살이고 키는 %3.1f 입니다." % (35, 175.5)
a = "나는 {1}개의 사과를 먹어서 {0}일 동안 아팠습니다.".format(5, 3)
a = "나는 {number}개의 사과를 먹어서 {day}일 동안 아팠습니다.".format(number=10, day=3)
a = f"나는 {number}개의 사과를 먹어서 {day}일 동안 아팠습니다."

나는 10개의 사과를 먹어서 three일 동안 아팠습니다.

In [41]:
# 리스트 : 여러 유형의 데이터를 여러 개 저장할 수 있는 자료형 []
a  = [] # []를 사용하면 리스트가 된다. 빈리스트
b = [1, 2, 3] # 정수형 리스트
c = ['Life', 'is', 'too', 'short'] # 문자열 리스트
d = [1,2,3,'Life', 'is', 'too', 'short'] # 정수와 문자열 혼합 리스트
e = [1,2,3,[4,5,'Life']] # 리스트에 리스트를 포함
print("=" * 5)
a = 1 # 숫자
a = '1' # 문자열
a = [1] # 리스트
a = [1, 2, 3]
print(a[0])
print(a[0] + a[2])
print(a[0:2])
### 연산자 :  + , * 
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)
print(a * 3)
a = "01012341234"
print(len(a))
print(len(b))
b[1] = 10 # index를 이용해서 리스트에 있는 값을 변경
print(b)
del b[1] # del 명령어를 이용하여 index에 해당하는 값을 리스트에서 삭제
print(b)
b.append(10)
print(b)
##############################################

=====
1
4
[1, 2]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
11
3
[4, 10, 6]
[4, 6]
[4, 6, 10]

In [54]:
a = [1, 4, 2, 3]
print(a)
# 데이터를 정렬
a.sort() # 실제 데이터를 변경하는 함수
print(a)
a = [1, 4, 2, 3]
print(a)
a.reverse() # 역순으로 저장  : 내림차순 아님
print(a)
##########################################
s = "Life is too short"
print(s.index('f'))
print(s.find('f'))
print(s.find('k'))
a = [1, 4, 2, 3]
##### 리스트에 원하는 데이터가 있는지 찾기 : index
print(a.index(3))
# print(a.index(5)) # 없는 데이터인 경우 오류
# print(a.find(5)) # 리스트에는 find함수가 없다.

[1, 4, 2, 3]
[1, 2, 3, 4]
[1, 4, 2, 3]
[3, 2, 4, 1]
2
2
-1
3

In [61]:
a = [1,2,3]
#    0 1 2
print(a)
a.append(4) # 마지막에 데이터가 추가가 된다.
print(a)
a.append(5) # [1, 2, 3, 4, 5]
print(a)
a.insert(1, 6) # [1, 6, 2, 3, 4, 5]
print(a)
a.insert(3, 10) # [1, 6, 2, 10, 3, 4, 5 ]
print(a)
a.insert(5, [1,2,3,4]) # [1, 6, 2, 10, 3, [1,2,3,4],4 ,5 ]
print(a)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 6, 2, 3, 4, 5]
[1, 6, 2, 10, 3, 4, 5]
[1, 6, 2, 10, 3, [1, 2, 3, 4], 4, 5]

In [69]:
a = [1, 4, 2, 5, 4, 3]
#    0  1  2  3  4  5
print(a)
del a[1] #### index를 이용해서 삭제
print(a)
a.insert(1, 4)
print(a)
##### 값을 이용해서 삭제
#  리터널을 이용해서 리터널에 해당되는 값을 삭제
a.remove(4) ### 4값을 삭제
print(a) # 처음에 있는 값부터 삭제
a.remove(4)
print(a)

[1, 4, 2, 5, 4, 3]
[1, 2, 5, 4, 3]
[1, 4, 2, 5, 4, 3]
[1, 2, 5, 4, 3]
[1, 2, 5, 3]

In [72]:
a = [1, 4, 2, 5, 4, 3]
print(a)
cnt = a.count(4) #### 반복문에서 이용하면 count만큼 삭제 하도록 할 수 있다.
print(cnt)
i = 0 
while i < cnt : # cnt만큼 remove가 반복되게 만듦
    a.remove(4) 
    i+=1
print(a)

[1, 4, 2, 5, 4, 3]
2
[1, 2, 5, 3]

In [83]:
a = [1, 4, 2, 5, 4, 3]
print(a)
del a[1]
print(a)
a.remove(4)
print(a) 
b = a.pop() # 리스트에 있는 값을 가져 나온 후 삭제  # 맨 마지막 값부터 삭제
print(b)
print(a)
b = a.pop() 
print(b)
print(a)
b = a.pop() 
print(b)
print(a)
a = [1, 4, 2, 5, 4, 3]
#    0  1  2  3  4  5
b = a.pop(4) # index를 사용해서 데이터 삭제
print(b)
print(a)
b = a.pop(2)
print(b)
print(a)

[1, 4, 2, 5, 4, 3]
[1, 2, 5, 4, 3]
[1, 2, 5, 3]
3
[1, 2, 5]
5
[1, 2]
2
[1]
4
[1, 4, 2, 5, 3]
2
[1, 4, 5, 3]

In [88]:
a = [1, 4, 2, 5, 4, 3]
a.sort() # 오름차순으로 정렬
print(a)
a = [1, 4, 2, 5, 4, 3]
a.reverse()
print(a)
### 내림차순으로 변경
a.sort(reverse=True)
print(a)

[1, 2, 3, 4, 4, 5]
[3, 4, 5, 2, 4, 1]
[5, 4, 4, 3, 2, 1]

In [102]:
a = [1,2,3] # [1,2,3,4,5]
a.append(4)
print(a)
a.remove(4)
print(a)
a.append([4,5])
print(a)
a.remove([4,5])
print(a)

a.extend([4,5])
print(a)
a = [1,2,3]
print(a)
a = a + [4,5] 
print(a)

[1, 2, 3, 4]
[1, 2, 3]
[1, 2, 3, [4, 5]]
[1, 2, 3]
[1, 2, 3, 4, 5]
[1, 2, 3]
[1, 2, 3, 4, 5]

In [104]:
print(1  + 1) # 숫자
print("1" + "1") # 문자
print([1] + [1]) # 리스트 []

2
11
[1, 1]

In [107]:
## 튜플 ()
print(1)
print('1')
print([1]) ## 라스트
print((1)) ### 정수 : ()만 있는 경우에는 최우선 연산자가 된다.
print(("1")) ### 문자 : 튜플(x) 
print((1,)) ### 튜플 : 요소가 하나인 경우에는 요소뒤에 ,가 있어야 한다.
print([1,2]) ### 리스트
print((1,2)) ### 튜플

1
1
[1]
1
1
(1,)
[1, 2]
(1, 2)

In [112]:
l = [] # 빈 리스트
t  = () #  빈 튜플
l1 = [1]  #요소가 하나인 리스트
t1 = (1,) #요소가 하나인 튜플 (*****)
i = (1) # 정수 1 (*****)
s = '1'
# print(s + 1)
print( i + 1)
# print(t1 + 1) # 튜플과 정수는 연산할 수 없다
# print( l1 + 1) # 리스트와 정수는 연산할 수 없다.

2

In [123]:
t3 = (1,2)
print(t3)
# 튜플 또한 리스트와 같이 여러 종류의 데이터를 여러개 저장할 수 있다.
t5 = (1,2,3,'a', 'b') 
t6 = ('a', 'b', ('ab', 'cd'))
t6 = ('a', 'b', ('ab', 'cd'),[1, 2, 3])
##     0    1        2          3
###               0      1    0  1  2
print(t6)
l = [1, 2, 3, "a", "b", [1,2,3], (1,2,3)]
##   0  1  2   3    4      5        6
print(l)
print(l[6])
t7 = 1,2,3,4,5,6,7 # 튜플
print(t7)
print(t6)
print(t6[2]) ### 튜플 출력
print(t6[2][1]) ## 문자열
print(t6[3]) ### 티스트 출력
print(t6[3][1]) ### 정수
print(t6[3][2]) ### 정수
print(t6[3][1] + t6[3][2]) ####  정수 +정수

(1, 2)
('a', 'b', ('ab', 'cd'), [1, 2, 3])
[1, 2, 3, 'a', 'b', [1, 2, 3], (1, 2, 3)]
(1, 2, 3)
(1, 2, 3, 4, 5, 6, 7)
('a', 'b', ('ab', 'cd'), [1, 2, 3])
('ab', 'cd')
cd
[1, 2, 3]
2
3
5

In [137]:
l = [1,2,3,4] ### 리스트
t = (1,2,3,4) ### 튜플
print(l[2]) 
l[2] = 10
print(l)
print(t[2])
### t[2] = 10 :  오류
# 튜플과 리스트의 차이
# 리스트는 요소의 값을 변경할 수 있다
# 튜플은 요소의 값을 변경할 수 없다.
l.index(2)
t.index(2)
### t.find(2)
print(t[2]) ### indexing
print(t[0:2]) ### slicing

3
[1, 2, 10, 4]
3
3
(1, 2)

In [143]:
t6 = ('a', 'b', ('ab', 'cd'),[1,2,3])
# 슬라이싱하기
print(t6[1:])
print(t6[1:3])
print(t6[3])
print(t6[3][1:3])

('b', ('ab', 'cd'), [1, 2, 3])
('b', ('ab', 'cd'))
[1, 2, 3]
[2, 3]

In [144]:
### 숫자 : 정수 , 실수 : 10, 10.5
### 문자 : "", '', '''''', """""", "10"
### 리스트 : [] , [10]
### 튜플 : (), (1,)  
# (1) : 최우선 연산자로 인식하여 튜플로 사용할 수 없다.

In [157]:
### 딕셔너리 : 키와 값이 하나의 쌍으로 되어 있는 것을 딕셔너리라고 한다.
# {Key1:Value1, Key2:Value2, Key3:Value3, ...}
###  javascript:JSON {키:값, 키:값,...}, java:map<키,값>
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
l = [1,2,3,4]
print(l[1])
print(dic['name']) ### 딕셔러니는 index대신 키를 이용해서 값을 가져온다.
print(dic['phone'])
d1 = {2:"이", 0:"숭" ,1 :"무"}
###     0      1         2
print(d1[0]) ### 키와 index가 같은 경우가 있을 수 있어서 index대신 키를 사용한다.
### 키가 0인 값을 가져오게 된다.
a = {1: 'a', 2: 'b'}
# 딕셔너리에 있는 값을 변경 할 수 있다
print(a[1])
a[1] = '숭'
print(a)
a[2] = '무'
print(a)
a[3] = '이' # 키가 있으면 값을 변경하지만 키가 없는 경우에는 추가가 된다.
print(a)    # 중복 키를 허용하지 않는다.
a  = {1:'이', 1:"숭"}
print(a) # 키가 중복되는 경우에는 마지막값을 가지게 된다.

2
pey
0119993323
숭
a
{1: '숭', 2: 'b'}
{1: '숭', 2: '무'}
{1: '숭', 2: '무', 3: '이'}
{1: '숭'}

In [164]:
a = {1: 'a'}
print(a)
a[2] = "b";
print(a)
a["name"] = "pey" #문자열를 키로 사용
print(a)
a[3] = [1,2,3]
print(a)
#### 키를 이용해서 딕셔너리에 있는 값을 삭제
del a[3]
print(a)
del a['name']
print(a)

{1: 'a'}
{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}
{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b'}

In [169]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
dic['birth'] = '19991118'
#               01234567
#               87654321 -
print(dic)
print(dic['birth'])
#### 'birth'에서 '1118'만 출력하시오.
print(dic['birth'][4:])
print(dic['birth'][-4:])

{'name': 'pey', 'phone': '0119993323', 'birth': '19991118'}
19991118
1118
1118

In [179]:
#### 딕셔너리 관련 함수
dic = {'name': 'pey', 'phone': '0119993323', 'birth': '19991118'}
### 딕셔너리에 있는 키만 가져오기
print(dic.keys())
### 딕셔너리에 있는 값만 가져오기
print(dic.values())
### 딕셔너리에 있는 키와 값을 쌍으로 가져오기
print(dic.items())
### 딕셔너리 데이터 삭제
dic.clear()
print(dic)

dict_keys(['name', 'phone', 'birth'])
dict_values(['pey', '0119993323', '19991118'])
dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '19991118')])
{}

In [194]:
dic = {'name': 'pey', 'phone': '0119993323', 'birth': '19991118'}
print(dic['name'])
print(dic.get('name'))
## print(dic['money']) # 키가 없으므로 키 오류가 생긴다
print(dic.get('money', 0)) 
### 키가 없는 경우 특정한 값을 가질 수 있게 할 수 있다.

dic1  = {'classic' : 500 ,  "pop" : 600 }
dic2  = {'classic' : 500 ,  "pop" : 600 ,"money":100 }
print(dic1['classic'] + dic2['classic'])
print(dic1['pop'] + dic2['pop'])
### 키가 없으므로 오류가 생긴다.
## print(dic1['money'] + dic2['money'])
print(dic1.get('classic',0) + dic2.get('classic',0))
print(dic1.get('pop', 0) + dic2.get('pop', 0))
print(dic1.get('money', 0) + dic2.get('money', 0))
print(dic1.get('money')) ### 키가 없는 경우에는 None을 출력한다.

pey
pey
0
1000
1200
1000
1200
100
None

In [196]:
# 집합 자료형 : 교집합, 합집합 , 차집합
s1 = set([1,2,3]) ### {1, 2, 3}
print(s1)

{1, 2, 3}

In [197]:
#### 숫자 : 11,12
#### 문자 : '1',"1",'''1''',"""1"""
#### 리스트 : []
### 튜플 : () , (1,) 
### 딕셔너리 : {키:값}
#### 집합 : set : {1,2,3}

In [206]:
s1 = set([1,2,3])
s2 = set((1,2,3))
s3 = set("hello") ##  문자 하나하나가 집합자료형의 데이터, 중복 데이터를 허용X
print(s1)
print(s2)
print(s3)
## 집합자료형의 데이터를 가져오기 위해서는 리스트나 튜플로 가져옴
l = list(s2) 
t = tuple(s1)
print(l)
print(t)
print(l[0])
print(t[1])

{1, 2, 3}
{1, 2, 3}
{'o', 'l', 'h', 'e'}
[1, 2, 3]
(1, 2, 3)
1
2

In [220]:
#### 교집합, 합집합, 차집합
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1)
print(s2)
### 교집합
print(s1 & s2)
print(s1.intersection(s2))
### 합집합
print(s1 | s2) ### 중복 데이터는 한번만 출력
print(s1.union(s2))
### 차집합
print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
### 요소 추가
s1.add(7)
print(s1)
### s1.add([8,9,10])
s1.update([7,8,9]) 
# 집합에서는 중복을 허용하지 않기 때문에 데이터가 있는 경우 추가되지 않는다.
print(s1)
## 요소 삭제
s1.remove(8)
print(s1)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 9}

In [233]:
# 부울 타입 / True | False
a = True ## 부울 타입
b = False
print(a)
print(b)
c = "True" ## 문자열
print(c)
i = 10
print(type(i))
f = 10.5
print(type(f))
s = "10.5"
print(type(s))
l = [1,2]
print(type(l))
i1 = (1)
print(type(i1))
t = (1,)
print(type(t))
b = True
print(type(b))
s1 = "True"
print(type(s1))
d  = {1:'a'}
print(type(d))
se = {1,2,3,4}
print(type(se))

True
False
True
<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'int'>
<class 'tuple'>
<class 'bool'>
<class 'str'>
<class 'dict'>
<class 'set'>

In [241]:
x = 10 ; y = 20 
### 비교(관계)연산자의 결과 값은 bool타입이다.
a = x == y
print(a)
a = x > y
print(a)
a = x < y
print(a)
a = x >= y
print(a)
a = x <= y
print(a)
a = x != y
print(a)

False
False
True
False
True
True

In [249]:
# and | or : 논리연산 : bool타입을 이용해서 연산
## and
print(True and True) 
print(True and False)
print(False and True)
print(False and False)

### or 
print(True or True) 
print(True or False)
print(False or True)
print(False or False)

x = 10; y = 20 ; z = 15
print( x > y and y > z)
print( x > y or y > z )

True
False
False
False
True
True
True
False
False
True

In [255]:
print(bool("이숭무")) ### True
print(bool(""))###### False
print(bool([1,2,3,4]))### True
print(bool([])) ###### False
print(bool((1,2,3,4)))### True
print(bool(()))   ###### False

print(bool(0))    ###### False
print(bool(-1))### True
print(bool(1))### True
print(bool(None))  ###### False

True
False
True
False
True
False
False
True
True
False

In [256]:
print(bool(""))   ###### False
print(bool([]))   ###### False
print(bool(()))   ###### False
print(bool(0))    ###### False
print(bool(None))  ###### False

False
False
False
False
False

In [259]:
### 2200년은 윤년일까요(True)? 평년일까요(False)? 
### 4년마다 윤년이지만 100년마다는 윤년이 아니다 그렇지만 400년마다는 윤년이다.
a = 2200 % 4 == 0 and 2200 % 100 != 0 or 2200 % 400 == 0
print(a)

if  2200 % 4 == 0 and 2200 % 100 != 0 or 2200 % 400 == 0 :
    print("윤년입니다")
else:
    print("평년입니다.")
    
### bool타입은 제어문에서 사용하게 된다.

False
평년입니다.

In [266]:
### 파이썬 변수 선언법
a = 'python'
b = 'life'
a = b = c = 0
print(a,b,c)
a, b = ('python','life' )
print(a)
print(b)
(a, b) = 'python','life'
print(a)
print(b)
(a, b) = ('python','life')
print(a)
print(b)
a, b = 'python','life'
print(a)
print(b)
a, b = ([1,2,3,4],[5,6,7,8])
print(a)
print(b)
a, b = [1,2,3,4],[5,6,7,8]
print(a)
print(b)

0 0 0
python
life
python
life
python
life
python
life
[1, 2, 3, 4]
[5, 6, 7, 8]

In [268]:
# 변수에 있는 값을 서로 교환하기
a = 3 
b = 5
print(a)
print(b)
a , b = b, a
print(a)
print(b)

3
5
5
3

In [273]:
#### 3장 제어문
### bool타입을 이용해서 원하는 결과를 얻어 오는 것을 말한다.
## 조건문 : 여러가지 선택중에서 하나를 선택할 수 있게 하는 것
### 조건식을 사용할 경우에는 조건문 뒤에는 : 이 있어야하고
### 명령문은 들여쓰기를 하여야 한다. 들어쓰기가 되지 않은 경우 오류 발생
### 들여쓰기는 공백문자 또는 탭을 사용할 수가 있지만 두개를 같이 사용하지 못한다.
### 들여쓰기할 때는 주로 탭을 많이 사용한다.
## 단일 if
money = 3000
if money >= 3000 : # 조건식 : 결과값은 bool타입이어야 한다.
    print("a차를 타고 가시오.")

money = 2000 
if money >= 3000 : ## False이므로 아래 명령문이 실행되지 않는다.
    print("b차를 타고 가시오")
'''
if 조건식 :
    명령문1
    명령문2
    ...
'''

a차를 타고 가시오.

'\nif 조건식 :\n    명령문1\n    명령문2\n    ...\n'

In [275]:
### if ~ else  : 두개중에 하나를 선택하고자 할 때 사용
money = 3000
if money >= 3000: ### True면 실행
    print("차를 타고 가시오.")
else: ## 조건이 False일 때 실행할 명령문
    print("걸어가시오")

차를 타고 가시오.

In [277]:
money = 2000
if money >= 3000: ### True면 실행
    print("차를 타고 가시오.")
else: ## 조건이 False일 때 실행할 명령문
    print("걸어가시오")

걸어가시오

In [286]:
'''
print(bool("이숭무")) ### True
print(bool(""))###### False
print(bool([1,2,3,4]))### True
print(bool([])) ###### False
print(bool((1,2,3,4)))### True
print(bool(()))   ###### False

print(bool(0))    ###### False
print(bool(-1))### True
print(bool(1))### True
print(bool(None))  ###### False
'''
if "이숭무":
    print(True)
    
if "":
    print(True)
else:
    print(False)

if 1 :
    print(True)

if 0 :
    print(True)
else:
    print(False)

if [1,2,3,4] :
    print(True)

if not 0: ### False를 True 변경
    print("True입니다.")
    
## not False : True , not True : False

True
False
True
False
True
0입니다

In [294]:
x = 10 ; y = 20 
print( x == y )
print( x > y )
print( x < y )
print( x >= y )
print( x <= y )
print( x != y )

if x == y : #True
    print("x와 y는 같다")
else: # False
    print("x와 y는 같지 않다.")

if x < y : #True
    print("x가 작다")
else: # False
    print("y가 작다. x가 크다")

False
False
True
False
True
True
x와 y는 같지 않다.
x가 작다